<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="Alberto Kerim, Nino Nogić, Petar Pandža">
        <meta name="keywords" content="">

        <title>Dashboard</title>

        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="./css/style.css">
    </head>

    <body>

        <!-- Sidebar -->
        <div class="sidebar">
            <a href="/dashboard" class="logo">
                <i class='bx bx-code-alt'></i>
                <div class="logo-name"><span>City</span>CTRL</div>
            </a>
            <ul class="side-menu">
                <% if(adminUser == 1){ %>
                    <li class="active"><a href="/dashboard"><i class='bx bxs-dashboard'></i>Dashboard</a></li>
                    <li><a href="/notifications"><i class='bx bx-message-square-dots'></i>Notifications</a></li>
                    <li><a href="/parkingMap"><i class='bx bx-message-square-dots'></i>Parking map</a></li>
                    <li><a href="/reports"><i class='bx bx-clipboard'></i>Reports</a></li>
                    <li><a href="/settings"><i class='bx bx-cog'></i>Settings</a></li>
                    <% } %>
                <% else{ %>
                    <li class="active"><a href="/dashboard"><i class='bx bxs-dashboard'></i>Dashboard</a></li>
                    <li><a href="/parkingMap"><i class='bx bx-message-square-dots'></i>Parking map</a></li>
                    <li><a href="/settings"><i class='bx bx-cog'></i>Settings</a></li>
                <% } %>

            </ul>
            <ul class="side-menu">
                <li>
                    <a href="/dashboard/logout" class="logout">
                        <i class='bx bx-log-out-circle'></i>
                        Logout
                    </a>
                </li>
            </ul>
        </div>
        <!-- End of Sidebar -->

        <!-- Main Content -->
        <div class="content">
            <!-- Navbar -->
            <nav>
                <i class='bx bx-menu'></i>
                <form action="#">
                
                </form>
                <i class='bx bxs-moon'></i><input type="checkbox" id="theme-toggle" hidden>
                <label for="theme-toggle" class="theme-toggle"></label>
                <a href="/settings" class="profile">
                    <img src="images/profile-1.jpg">
                </a>
            </nav>

            <!-- End of Navbar -->

            <main>
                <div class="header">
                    <div class="left">
                        <h1><%= firstName %>'s parking montioring</h1>
                        
                    </div>
                    <a href="/dashboard/downloadDailyReport" class="report">
                        <i class='bx bx-cloud-download'></i>
                        <span>Download 24h report</span>
                    </a>
                </div>

                <!-- Insights -->
                <ul class="insights">
                    <li>
                        <i class='bx bx-calendar-check'></i>
                        <span class="info">
                            <h3>
                                <%= freeSpaces %>
                            </h3>
                            <p>Free spaces</p>
                        </span>
                    </li>
                    <li><i class='bx bx-show-alt'></i>
                        <span class="info">
                            <h3>
                                <%= occupiedSpaces %>
                            </h3>
                            <p>Occupied spaces</p>
                        </span>
                    </li>
                    <li><i class='bx bx-line-chart'></i>
                        <span class="info">
                            <h3>
                                <%= totalSpaces %>
                            </h3>
                            <p>Total spaces</p>
                        </span>
                    </li>
                    <% if(adminUser == 1){ %>
                    <li><i class='bx bx-dollar-circle'></i>
                        <span class="info">
                            <h3>
                                $<%= totalProfit %>
                            </h3>
                            <p>Total profit</p>
                        </span>
                    </li>
                    <% } %>
                </ul>
                <!-- End of Insights -->


                <div class="bottom-data">
                    <div class="orders">
                        <div class="header">
                            <i class='bx bx-receipt'></i>
                            <h3>Usage by zone</h3>
                        </div>
                        <table>
                            <thead>
                                <tr>
                                    <th>Zone</th>
                                    <th>Free spaces</th>
                                    <th>Occupied spaces</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (const i in usageByZone) { %>
                                    <% const cathName = usageByZone[i]; %>
                                <tr>
                                    <td>
                                        <p>cathName[0]</p>
                                    </td>
                                    <td>cathName[1]</td>
                                    <td>cathName[2]</td>
                                    <% if(cathName[3] == 1){ %>
                                    <td><span class="status completed">Spaces available</span></td>
                                    <% } %>
                                    <% if(cathName[3] == 0){ %>
                                        <td><span class="status pending">No spaces available</span></td>
                                        <% } %>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>

                    <!-- End of Reminders-->
                </div>
            </main>

        </div>
        <br><br><br><br>
        <script src="./js/index.js"></script>
    </body>

</html>